$light-gray: #e0e0e0;
$selected-color: limegreen;

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.hovered-line > path {
  &.tmax, &.tmin{
    stroke: white;
    stroke-width:2px;
  }
  &.temparea {
    stroke:white;
    stroke-width: 2px;
  }

}

rect.hovered-over {
  fill: deepskyblue;
  opacity: 0.4;
}
.selected-line > path {
  &.tmax, &.tmin {
    stroke: $selected-color;
    stroke-width: 2px;
  }
}
#yearlist {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  overflow-y: scroll;
  height: 350px;
  .key-year {
    font-size:1.6em;
    font-size:2vw;
    font-weight:bold;
  }
}

h1, h2, h3 {
  font-weight: 900;
  color:#202020;
  font-style: italic;
  text-transform:uppercase;
  line-height: 1em;
  letter-spacing: -.05em;
  font-kerning: normal;

  &#title {
    font-size: 11vw;
    position:relative;
    top: -.15em;
  }
}
h2 {
  font-size: 3.8em;
}
h3 {
  font-size: 1.8em;
}

.light {
  color: $light-gray;
}
.blue {
  color: blue;
}

#definition {
  font-family: TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
  font-size: 1.2em;
  #farchword {
    font: {
      family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      weight: 900;
    }
  }
  #part-of-speech, #farchword {
    margin-right: .2em;
  }
  #part-of-speech, #example {
    font-style: italic;
  }
  padding: 1em;
  background: $light-gray;
}


path.tmax {
  fill:none;
  stroke:deeppink;
}
path.tmin {
  fill:none;
  stroke:dodgerblue;
}

/* path.tmax { */
/*   fill:none; */
/*   stroke:rgba(255,255,255,.5); */
/* } */
/* path.tmin { */
/*   fill:none; */
/*   stroke:rgba(0,0,0,.5); */
/* } */

path.temparea {
  fill: rgba(0,0,0,.15);
}

.axis text {
  font: 18px sans-serif;
  fill: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

/* rect.background{ */
/*   fill:dimgray; */
/*   opacity:0.5; */
/* } */

/* line#line_of_salvation { */
/*   stroke: cyan; */
/*   stroke-width: 2px; */
/*   stroke-dasharray: 5 3; */
/* } */

rect.background{
  fill: url(#temperature-gradient);
}

line#line_of_salvation {
  stroke: white;
  stroke-width: 5px;
  stroke-dasharray: 10, 10;
}

.selected-box {
  background: $selected-color;
}

#credits {
  margin-top: 2em;
  padding-top: .5em;
  border-top: 2px solid black;
  p {
    font-size: 1.3em;
  }
  p:first-child {
    font-weight:900;
  }

}
#tagline-container {
  text-align:center;
  #tagline {
    text-transform: lowercase;
  }
}
#phonebox {
  font-size: 1.3em;
  color: red;
  font-weight: 900;
}

textarea {
  width:100%;
}
#comment-submit {
  color: white;
  font-weight: bold;
  background-color: black;
  border-radius: 0px;
  margin-bottom: 1em;
}