$light-gray: #e0e0e0;
.hovered-line > path {
  &.tmax, &.tmin{
    stroke: white;
  }
}
.selected-line > path {
  &.tmax, &.tmin {
    stroke: red;
  }
}

#title {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 900;
  color:#202020;

  font-size: 11vw;

  text-transform:uppercase;
  line-height: 1em;
  letter-spacing: -.05em;
  font-kerning: normal;

  position:relative;
  top: -.15em;
}
.light {
  color: $light-gray;
}
.blue {
  color: blue;
}

#definition {
  font-family: TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
  font-size: 1.2em;
  #farchword {
    font: {
      family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      weight: 900;
    }
  }
  #part-of-speech, #farchword {
    margin-right: .2em;
  }
  #part-of-speech, #example {
    font-style: italic;
  }
  padding: 1em;
  background: $light-gray;
}

path.tmax {
  fill:none;
  stroke:magenta;
}
path.tmin {
  fill:none;
  stroke:lime;
}

.axis text {
  font: 18px sans-serif;
  fill: cyan;
}

.axis path,
.axis line {
  fill: none;
  stroke: magenta;
  shape-rendering: crispEdges;
}

rect.background{
  fill:blue;
}

line#line_of_salvation {
  stroke: cyan;
  stroke-width: 5px;
}